
.content{
    justify-content: space-evenly;
    display: flex;
    width: 80%;
}
.hello__person{
    min-width: 200px;
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    width: 80%;
    border-radius: 20px;
    background-color: #FFC8C5;
}
.instr__text{
    margin: 20px;
}

.audacity{
    min-width: 200px;
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    width: 80%;
    border-radius: 20px;
    background-color: #FFC8C5;
}