.header{
    width: 100%;

    background-color: #FFFDD1;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
}
.authBtns{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
}